html, body{
    margin: 0px;
    padding: 0px;
    background-color: #CA77E6;
    position: relative;
  }

.title{
    height: 30vh;
    font-size: 3vw;
    text-align: center;
    background-color: #821FA3;
}

.title1{
    color: white;
    margin: 0px;
    position: relative;
    top: 7vh;
}

.choose{
    font-size: 4vh;
    font-family: Fangsong;
    display: flex;
    justify-content: center;
}

.button{
    color: #821FA3;
    border: outset 5px white;
    border-radius: 3.5vw;
    background-color: white;
    width: 15vw;
    height: 7vw;
    font-size: 3vw;
}

.setting{
    display: flex;
    justify-content: space-around;
  }

.button:hover{
    color: #CA77E6;
}
  
.button:active{
    border: inset 5px white;
    color: #821FA3;
    position: relative;
    top: 3px;
    left: 3px;
}

.back{
    width: 7vw;
    height: 3vw;
    color: white;
    font-size: 3vh;
    font-weight: bold;
    line-height: 3.2vw;
    text-align: center;
    border-radius: 5px;
    background-color: #821FA3;
    position: fixed;
    bottom: 3vw;
    right: 5vw;
    transition: 0.5s;
	Text-decoration: none;
}

.back:hover{
    background-color: white;
    color: #821FA3;
}